// {
//     "presets": ["env", "react"]
// }
// {
//     "presets": [
//         "@babel/env",
//         "@babel/react"
//     ]
// }
{
    "presets": ["@babel/preset-env", "@babel/preset-react"]
  }
// module.exports = {
//     presets: [
//       require('@babel/preset-env'),
//       require('@babel/preset-react'),
//       require('@babel/env'),
//       require('@babel/react')
//     ]
//   }